@charset "utf-8";
* {
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

body {
    font: 14px Helvetica Neue, Arial, Luxi Sans, DejaVu Sans, Tahoma, Hiragino Sans GB, STHeiti, Microsoft YaHei;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #F2F2F2;
}

div, ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
}

a :hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}